In [15]:
x = "my name is Devang, what's yours? My name is Jeff."

In [16]:
x

"my name is Devang, what's yours? My name is Jeff."

In [69]:
for word in x.split("n"):
    print(word,end=" ")

my  ame is Deva g, what's yours? My  ame is Jeff.

In [23]:
x.split("s")

['my name i', " Devang, what'", ' your', '? My name i', ' Jeff.']

In [24]:
y = "my name is {}, what's yours? My name is {}."

In [25]:
print(y.format('Rohan','Rahul'))

my name is Rohan, what's yours? My name is Rahul.

In [28]:
print("My name is {1}, what's yours? My name is {0}.".format('Lionel','Messi'))

My name is Messi, what's yours? My name is Lionel.

f-string syntax

In [31]:
print(f"my name is {name}")

my name is devang

In [40]:
[name, age] = map(str,input().split())
print(f"My name is {name}, I'm {age} years old")

devang 20
My name is devang, I'm 20 years old

In [41]:
dic = {'k1' : 10, 'k2' : 20}

In [42]:
dic

{'k1': 10, 'k2': 20}

In [44]:
dic['k3'] = 30

In [45]:
dic['k3']

30

In [46]:
myset = set()

In [47]:
myset.add(1)

In [48]:
myset.add(2)

In [49]:
myset.add(2)

In [50]:
myset

{1, 2}

In [51]:
mylist = [1,2,3,4,5,5,5,5,5,6,6,6,6,6,2,2,2]

In [54]:
set(mylist)

{1, 2, 3, 4, 5, 6}

In [56]:
%%writefile file.txt
My name is Devang
I am 20 years old
I like to code

Writing file.txt

In [57]:
myfile = open('file.txt')

In [59]:
print(myfile)

<_io.TextIOWrapper name='file.txt' mode='r' encoding='UTF-8'>

In [64]:
myfile.read()

'My name is Devang\nI am 20 years old\nI like to code\n'

In [63]:
myfile.seek(0) # gets cursor back to start, otherwise we can't read again

0

In [65]:
myfile.close()